<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeogil.web.mapper.AirportInfoMapper">
	<insert id="createAirportInfo" parameterType="com.yeogil.web.domain.AirportInfoDTO">
	 INSERT INTO AIRPORTINFO( S_AIRPORT_NAME,
		 							S_DEPARTURE_TIME,
		 							S_ARRIVAL_TIME,
		 							S_DEPART_AIRPORT,
		 							S_ARRIVAL_AIRPORT,
		 							S_DEPART_DATE,
		 							S_ARRIVAL_DATE,
		 							S_AIRPORT_NAMER,
		 							S_DEPARTURE_TIMER,
		 							S_ARRIVAL_TIMER,
		 							S_DEPART_DATER,
		 							S_ARRIVAL_DATER,
		 							S_PRICER,
		 							S_ARRIVAL_AIRPORTR,
		 							S_DEPART_AIRPORTR) 
							VALUES(#{sAirportName},
									#{sDepartureTime},
									#{sArrivalTime},
									#{sDepartAirport},
									#{sArrivalAirport},
									#{sDepartDate},
									#{sArrivalDate},
									#{sAirportNamer},
									#{sDepartureTimer},
									#{sArrivalTimer},
									#{sDepartDater},
									#{sArrivalDater},
									#{sPricer},
									#{sArrivalAirportr},
									#{sDepartAirportr}
									)
	</insert>
	<!-- <select id="selectAllAirportInfo" parameterType="com.yeogil.web.controller.Proxy" resultMap="Proxy">
	SELECT
	  		S_AIRPORT_NAME sAirportName,
	  		S_DEPARTURE_TIME sDepartureTime,
	  		S_ARRIVAL_TIME sArrivalTime,
	  		S_DEPART_AIRPORT sDepartAirport,
	  		S_ARRIVAL_AIRPORT sArrivalAirport,
	  		S_DEPART_DATE sDepartDate,
	  		S_ARRIVAL_DATE sArrivalDate,
	  		S_AIRPORT_NAMER sAirportNamer,
	  		S_DEPARTURE_TIMER sDepartureTimer,
	  		S_ARRIVAL_TIMER sArrivalTimer,
	  		S_DEPART_DATER sDepartDater,
	  		S_ARRIVAL_DATER sArrivalDater,
	  		S_PRICER sPricer,
	  		S_ARRIVAL_AIRPORTR sArrivalAirportr,
	  		S_DEPART_AIRPORTR sDepartAirportr
	  FROM AIRPORTINFO
	</select> -->
</mapper>