<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeogil.web.mapper.AirportLeaveMapper">
	<select id="selectAllAirport" resultType="com.yeogil.web.domain.AirportLeaveDTO">
	  SELECT AIRPORT_NAME airportName,
	  		DEPARTURE_TIME departureTime,
	  		ARRIVAL_TIME arrivalTime,
	  		DEPART_AIRPORT departAirport,
	  		ARRIVAL_AIRPORT arrivalAirport,
	  		DEPART_DATE departDate,
	  		ARRIVAL_DATE arrivalDate,
	  		AIR_IMG airImg
	  FROM AIRPORTLEAVE
	</select>
</mapper>