<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeogil.web.mapper.CityMapper">
<resultMap id="result" type="hashmap">
  <id property="citySeq" column="CITY_SEQ" />
  <result property="cityName" column="CITY_NAME" />
  <result property="cityEname" column="CITY_ENAME" />
  <result property="imgName" column="IMG_NAME" />
  <result property="imgUrl" column="IMG_URL" />
  <result property="cityLat" column="CITY_LAT" />
  <result property="cityLng" column="CITY_LNG" />
</resultMap>
	<select id="selectAllCity" resultMap="result" parameterType="string">
	  SELECT * FROM yeogil.CITY
	</select>
	<select id="countCity" resultType="int">
	  	SELECT COUNT(*)
		FROM yeogil.IMAGE JOIN yeogil.CITY as c 
		WHERE IMG_NAME LIKE c.CITY_ENAME
	</select>
	<select id="cjSelectAllCity" resultMap="result" parameterType="com.yeogil.web.controller.Proxy">
	  	SELECT *
		FROM (SELECT * FROM yeogil.CITY WHERE COUNTRY_ENAME LIKE #{search} order by CITY_SEQ) as c join yeogil.IMAGE as i
		WHERE CITY_ENAME like i.IMG_NAME
		order by c.CITY_SEQ
		LIMIT #{startRow}, #{pageSize}
	</select>

	<select id="selectProduct" resultMap="result"
		parameterType="com.yeogil.web.controller.Proxy">
		SELECT @ROWNUM:=@ROWNUM+1 AS rownum,
			PRODUCT_NAME productName, 
			PRICE price, 
			UNIT unit, 
			SUPPLIER_NAME supplierId,
			CATEGORY_NAME categoryId 
		FROM PRODUCTS P
			JOIN CATEGORIES C
			ON C.CATEGORY_ID LIKE P.CATEGORY_ID
			JOIN SUPPLIERS S
			ON S.SUPPLIER_ID LIKE P.SUPPLIER_ID, (SELECT @ROWNUM:=0) TEMP
		WHERE 
		P.PRODUCT_NAME LIKE #{search}
		OR S.SUPPLIER_NAME LIKE #{search}
		OR C.CATEGORY_NAME LIKE #{search}
		OR P.PRICE LIKE #{search}
		OR P.UNIT LIKE #{search}
		ORDER BY rownum DESC 
		LIMIT #{startRow}, #{pageSize}
		<!-- $는 '포함된 상태, #은 '이 포함되지 않은 상태
		쿼리에서 '%${search}%'을 쓰면,
		자바에서 String srch = "%"+search+"%"을 따로 할 필요 없다. -->
	</select>
	
	<select id="selectCities" resultMap="result" parameterType="string">
	  	SELECT * FROM YEOGIL.CITY 
		WHERE COUNTRY_ENAME LIKE #{value};
	</select>
</mapper>