<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeogil.web.mapper.CountryMapper">

<resultMap id="result" type="hashmap">
  <id property="countrySeq" column="COUNTRY_SEQ" />
  <result property="countryName" column="COUNTRY_NAME"/>
  <result property="countryEname" column="COUNTRY_ENAME"/>
  <result property="continentName" column="CONTINENT_NAME"/>
  <result property="countryLng" column="COUNTRY_LNG"/>
  <result property="countryLat" column="COUNTRY_LAT"/>
</resultMap>
	<select id="selectAllCountry" resultMap="result">
	  SELECT * FROM yeogil.COUNTRY
	</select>
	<select id="countCountry" resultType="int">
	  SELECT COUNT(*) AS COUNT FROM yeogil.COUNTRY
	</select>
	<select id="selectCountries" resultMap="result" parameterType="string" >
		SELECT *
		FROM yeogil.COUNTRY
		WHERE CONTINENT_NAME LIKE #{value}
	</select>
</mapper>