<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeogil.web.mapper.HotelMapper">
	<select id="insertHotel" parameterType="com.yeogil.web.domain.HotelDTO">
	 INSERT INTO HOTEL(
	 							HOTEL_NAME,
	 							PRICE,
	 							ROOM_TYPE,
	 							NOTICE,
	 							IMG_URL,
	 							MEMBER_ID,
	 							CITY_NAME,
	 							START_DATE,
	 							END_DATE
	 							) 
						VALUES(
								#{hotelName},
								#{price},
								#{roomType},
								#{notice},
								#{imgUrl},
								#{memberId},
								#{cityName},
								#{startDate},
								#{endDate}
								)
	</select>
</mapper>