<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeogil.web.mapper.ScheduleMapper">

<resultMap id="result" type="hashmap">
</resultMap>

	<insert id="insertSchedule" parameterType="com.yeogil.web.domain.ScheduleDTO">
		INSERT INTO yeogil.MEMSCH (MS_COUNTRY_NAME,MS_TITLE,MEMBER_ID)
		VALUES(#{ctr},#{planTitle},#{member_id})
	</insert>
	
	<select id="lastsche" resultType="int" >
		SELECT LAST_INSERT_ID()
	</select>
	
	<insert id="insertSchedule2" parameterType="com.yeogil.web.domain.MemschCityDTO">
		INSERT INTO yeogil.MEMSCHCTIY (MS_DATE,MS_CITY_NAME,MS_DAY,MS_SEQ)
		VALUES(#{msDate},#{msCityName},#{msDay},#{msSeq})
	</insert>

	<select id="countSchedules" resultType="int" >
		SELECT COUNT(*)
		FROM yeogil.SCHEDULE
	</select>

	<select id="selectMemOneSchedule" resultMap="result" parameterType="com.yeogil.web.controller.Proxy">
		SELECT MEMSCHCTIY.MS_CTIY_SEQ, MS_DAY, MS_DATE, MS_COUNTRY_NAME, MS_CITY_NAME
		FROM MEMSCHATTR
			JOIN MEMSCHCTIY ON MEMSCHATTR.MS_CTIY_SEQ = MEMSCHCTIY.MS_CTIY_SEQ
			JOIN MEMSCH ON MEMSCH.MS_SEQ = MEMSCHCTIY.MS_SEQ
			JOIN MEMBER ON MEMBER.MEMBER_ID = MEMSCH.MEMBER_ID
		WHERE MEMBER.MEMBER_ID LIKE #{id}
			AND MEMSCH.MS_TITLE LIKE #{title}
		GROUP BY MEMSCHCTIY.MS_CTIY_SEQ, MS_DAY, MS_DATE, MS_COUNTRY_NAME, MS_CITY_NAME
		
	</select>
	
	<select id="selectMemOneScheAttr" resultMap="result" parameterType="com.yeogil.web.controller.Proxy">
		SELECT MS_ATTR_NAME, MS_DAY
		FROM MEMSCHATTR 
			JOIN MEMSCHCTIY ON MEMSCHATTR.MS_CTIY_SEQ = MEMSCHCTIY.MS_CTIY_SEQ
			JOIN MEMSCH ON MEMSCH.MS_SEQ = MEMSCHCTIY.MS_SEQ
			JOIN MEMBER ON MEMBER.MEMBER_ID = MEMSCH.MEMBER_ID
		WHERE MEMBER.MEMBER_ID LIKE #{id}
			AND MEMSCH.MS_TITLE LIKE #{title}
	</select>
	
	<select id="selectMemAllSchedules" resultMap="result" parameterType="string">
		SELECT *,(SELECT IMG_URL FROM IMAGE
				WHERE IMG_NAME LIKE MEMSCH.MS_COUNTRY_NAME) IMG_URL
		FROM MEMSCH	JOIN MEMBER ON MEMBER.MEMBER_ID = MEMSCH.MEMBER_ID
			WHERE MEMBER.MEMBER_ID LIKE #{value}
	</select>
</mapper>